<html>
    <h1>Listado de Actores</h1>
    <ul>
        <% for( let i = 0; i < actors.length; i++ ) { %>
        <li><%=actors[i].first_name%> <%=actors[i].last_name %>  </li>
        <% } %>
    </ul>
</html>